<a href="https://colab.research.google.com/github/beatzbyJWE/machinelearnjoe/blob/master/BML_Ukraine_Airspace_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
import kaggle

In [14]:
#pip install kaggle
#! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [19]:
! kaggle datasets download -d rtwillett/ukrainian-airspace

Downloading ukrainian-airspace.zip to /content
 98% 130M/132M [00:01<00:00, 93.6MB/s]
100% 132M/132M [00:01<00:00, 110MB/s]

In [25]:
df = pd.read_csv('/content/ukrainian-airspace.zip', header = None)
df.columns = ['icao24', 'callsign','origin_country','time_position','last_contact','lon','lat','baro_altitude','on_ground','velocity','heading','vertical_rate','sensors','geo_altitude','squawk','spi','position_source']
df.head()

,icao24,callsign,origin_country,time_position,last_contact,lon,lat,baro_altitude,on_ground,velocity,heading,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,5110c8,ATG2101,Estonia,2022-02-22 15:28:35,2022-02-22 15:28:35,27.1995,45.5531,4884.42,False,122.59,224.49,0.00,NaN,4823.46,5565.0,False,0
1,4248ef,SVR522,United Kingdom,2022-02-22 15:28:36,2022-02-22 15:28:36,37.7853,55.4932,891.54,False,85.05,145.35,-4.88,NaN,746.76,10.0,False,0
2,471f8c,WZZ1550,Hungary,2022-02-22 15:28:28,2022-02-22 15:28:34,21.2426,45.9153,10668.00,False,231.00,111.42,-0.33,NaN,10553.70,6405.0,False,0
3,471f89,WZZ2276,Hungary,2022-02-22 15:28:34,2022-02-22 15:28:34,22.2773,46.0858,8557.26,False,221.14,102.90,-9.75,NaN,8473.44,4362.0,False,0
4,4248e6,SDM6413,United Kingdom,2022-02-22 15:28:35,2022-02-22 15:28:35,45.0040,56.1057,11277.60,False,264.11,92.23,0.00,NaN,10850.88,734.0,False,0